<div class="homepage">
  <div style="text-align: center;">
    <img style="display:inline-block; width: 200px;" src="static/backbone.png" alt="">
  </div>
  <custom-title title="{{ title }}" text="{{ titleText }}"></custom-title>
  <custom-paragraph content="{{ titleText }}"></custom-paragraph>
</div>
